<div class="push_bg bonusPage">
	<div class="bonusInput">
		<i class="fa fa-search fa-lg"></i>
		<input type="text" value="券號輸入" />
		<input type="button" value="兌換">
	</div>
	<div class="bonusContent">
		<h2>天天轉轉樂</h2>
		<span class="bonusUse">僅限森活價$ 800 (含)以上</span>
		<span class="useDate">
			折價券<br>
			2013/11/06<br>
			2013/11/10
		</span>
	</div>

	<div class="bonusList">
		<ul>
			<li>75折</li>
			<li>300元</li>
			<li>1,000元</li>
			<li class="current">
				85折
				<i class="fa fa-comment"></i>
			</li>
			<li>6折</li>
			<li>200元</li>
			<li>9折</li>
			<li>200元</li>
			<li>3,000元</li>
		</ul>		
	</div>

	<div class="shopGo">
		<a ng-href="#/prods">
			<img src="images/bonusShopBanner.jpg">
		</a>
	</div>
</div>