<div class="gameEvent">
	<div class="main-animate">
		<div class="wrap linear"></div>
		<div class="lightBall linear"></div>
		<a class="blackCircle" href="javascript:void(0);"></a>
	</div>
	<div class="shadow_bg" ng-click="shadowCtrl()"></div>
	<div class="popup game_notice">
		<div class="popup_content" ng-include="'view/game_notice.html'"></div>
		<a ng-click="shadowCtrl()">確定</a>
	</div>
	<div class="popup popup_hits">
		<a href="member.html#/bonus"><img src="images/popShow.jpg" width="100%"></a>
	</div>
</div>