<h3>活動詳細說明</h3>
 1. 【APPLE】iPad Air 16G 1折券限購買品號：995177357 ( http://www.u-mall.com.tw/Prod.aspx?sc=00507335)、
LV 經典棋盤格/經典Monogram SPEEDY25手提包限購買品號：995172398 ( http://www.u-mall.com.tw/Prod.aspx?cid=42754&sc=00502384)
2. 活動期間每帳號每日限玩一次，轉出獎項以 [我的帳戶] 裡面所載之內容為準。
3.轉轉樂中商品iPad Air 16G 、LV 經典棋盤格/經典Monogram SPEEDY25手提包限量販售，售完為止。
4. 折價券及折扣金限當日 23:59使用完畢。2,000元折價券限用於森活價20,000元(含) 以上商品，3,000元折價券限用於森活價30,000元(含)以上商品，5,000元折價券限用於森活價60,000元(含)以上商品。
5. 85折券不適用於3C、手相機、視聽、家電、機車、重型機車、黃金、鑽石、精品等分類及特價商品；9折券不適用機車及重型機車。
6. 折價券不可折抵包括汽車、國內外旅遊、保險、生前契約及消費遞延性商品等，每次消費乙件商品限用乙張折價券，消費兩件商品可用兩張，依此類推。