<div class="loginPage">
	<ul>
		<li>
			<div class="shopCart_title user">
				<i class="fa fa-user fa-2x"></i>
			</div>			
		</li>
		<li>
			<div class="shopCart_content">
				<label>
					<i class="fa fa-phone fa-lg"></i>
				</label>
				<input type="text" value="" placeholder="請輸入帳號">
				<label>
					<i class="fa fa-ellipsis-h fa-lg"></i>
				</label>
				<input type="password" value="" placeholder="請輸入密碼">
			</div>
		</li>
		<li>
			<div class="btnArea">
				<a href="index.html#/prods" class="button">登入</a>
				<a class="tips" ng-click="alert()">忘記密碼？</a>

				<a href="" class="button" ng-click="alert()">註冊</a>
				<a class="tips" ng-click="alert()">或<br/>
				試試看更方便快速的方法
				</a>			
			</div>			
		</li>
	</ul>
</div>