<div class="loginPage">
	<ul>
		<li>
			<div class="shopCart_title user">
				<i class="fa fa-user fa-2x"></i>
			</div>			
		</li>
		<li>
			<div class="shopCart_content">
				<label>
					<i class="fa fa-phone fa-lg"></i>
				</label>
				<input type="text">
				<label>
					<i class="fa fa-ellipsis-h fa-lg"></i>
				</label>
				<input type="text">
			</div>
		</li>
		<li>
			<div class="btnArea">
				<a href="" class="button">登入</a>
				<a class="tips">忘記密碼？</a>

				<a href="" class="button">註冊</a>
				<a class="tips">或<br/>
				試試看更方便快速的方法
				</a>			
			</div>			
		</li>
	</ul>
</div>