<div class="AdBanner">
	<a href="#"><img src="http://img1.u-mall.com.tw/UserFiles/Advertisement/20131113151230/0c7bf9c6-9113-4cbf-b36b-1aef272d32dc.jpg"></a>
</div>
<div class="prodsGroup">
	<ul>
		<li>
			<div class="hotProd">
				<a href="#/prods"><img src="http://img1.u-mall.com.tw/UserFiles/Product/00484/00484822/3bcd5f60-d8dd-4da3-a478-eb8f2e8f368f.jpg"></a>
				<div class="hotProdSpec">
					<h3>韓版手拉手雪紡紗絲巾/披肩</h3>
					<div class="priceGroup">
						$9,995,900
					</div>	
				</div>
			</div>
		</li>
		<li>
			<div class="hotProd">
				<a href="#/prods"><img src="http://img1.u-mall.com.tw/UserFiles/Product/00380/00380960/f152eba5-96a7-4996-9ce6-b1952d82e5de.jpg"></a>
				<div class="hotProdSpec">
					<h3>【Fashion Cute】銀絲柔光蠶絲披肩(黑)</h3>
					<div class="priceGroup">
						$9,995,900
					</div>	
				</div>
			</div>
		</li>
	</ul>
</div>