<div class="shopImg">
	<div class="shopImgWrap middle"><img width="100%" ng-src="{{prods.img[0]}}"></div>
	<a href="#/shopCart/1/">
		<i class="fa fa-shopping-cart fa-2x"></i>
	</a>
</div>

<ul class="prodCommen">
	<li class="prodCommen_event" ng-repeat="recommand in recomnList">
		<a ng-href="#/prods/comment/4/{{$index}}">
			<span class="cate">
				<i class="fa fa-star fa-lg"></i>
				<font ng-bind="'【'+recommand.cate+'】'"></font>
			</span>
	        <h2 ng-bind="recommand.title"></h2>
	        <p ng-bind="recommand.subDes"></p>
	        <span class="moreLink">more>></span>
	        <span class="from" ng-bind="recommand.from"></span>
		</a>
    </li>
</ul>