<div id="prodView" class="prodPage">
    <div class="prodDesc">
        <div class="push_text" ng-bind="prods.pushText"></div>
        <div class="subDesc" ng-bind="prods.subdes"></div>
    </div>
    <div class="recommands_zone">
        <ul>
            <li><a href="#/prods/comment/1/">
                <i class="fa fa-comments fa-2x"></i>
                <span>商品評價</span>
            </a></li>
            <li><a ng-href="#/{{hashGo}}" ng-click="prodTrans()">
                <i class="fa fa-shopping-cart fa-2x"></i>
                <span>立即購買</span>
            </a></li>
            <li><a class="specBtn" ng-click="prodSpecNavs()" ng-class="{fixZone: active == true}" du-scrollspy>
                <i class="fa fa-plus fa-2x"></i>
                <span ng-class="{hidein: active == true}">更多資訊</span>
            </a></li>            
        </ul>
    </div>
    <div class="prodShow slide-animation">
        <img ng-repeat="images in prods.img" ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()" ng-hide="!isCurrentSlideIndex($index)" ng-src="{{images}}" alt="">
        <nav class="nav">
            <a ng-repeat="images in prods.img" ng-class="{'current':isCurrentSlideIndex($index)}" ng-click="setCurrentSlideIndex($index);"></a>
        </nav> 
    </div>
    <div class="prodsDetail">
        <ul>
            <li>
                <h3 id="prodGifts">贈品</h3>
                <p ng-bind="prods.gifts"></p>
            </li>
            <li>
                <h3>配件</h3>
                <p ng-bind="prods.parts"></p>
            </li>
            <li>
                <h3>詳細規格</h3>
                <p ng-bind="prods.specDetail"></p>   
            </li>
            <li></li>
        </ul>

    </div>

    <div class="priceZone">
        <div class="shareIcons">
            <ul>
                <li><a href="#">f</a></li>
                <li><a href="#">LINE</a></li>
            </ul>
        </div>
        <span class="org" ng-bind="'NT'+prods.priceOrg"></span>
        <span class="special"ng-bind="'NT'+prods.priceSpecial"></span>
    </div>
    <div class="prod_specNavs" >
        <ul>
            <li><a href="http://www.u-mall.com.tw/Prod.aspx?sc=00402155">贈品</a></li>
            <li><a href="http://www.u-mall.com.tw/Prod.aspx?sc=00402155">詳細介紹</a></li>
            <li><a href="http://www.u-mall.com.tw/Prod.aspx?sc=00402155">付款方式</a></li>
            <li><a href="http://www.u-mall.com.tw/Prod.aspx?sc=00402155">配件</a></li>
            <li><a href="http://www.u-mall.com.tw/Prod.aspx?sc=00402155">其他</a></li>
        </ul>
    </div>

</div>


