                <div class="prodShow">
                    <img src="http://img2.u-mall.com.tw/UserFiles/Product/00470/00470304/26ad40e9-227c-44b1-acde-268123ce3c64.jpg" alt="">
                </div>
                <div class="prodNums">
                    品號：901122345
                </div>

                <div class="prodSpec">
                    <ul>
                        <li class="prodTitle">六圓環生技特級納豆營養素六盒</li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>

                <div class="prodSelects">
                    <ul>
                        <li>
                            <a href="#">規格</a>
                        </li>
                        <li>
                            <a href="#">顏色</a>
                        </li>
                    </ul>
                </div>

                <div class="priceZone">
                </div>
                <div class="prodBonus">
                    <a class="pure-button pure-button-primary" href="#">
                        <i class="fa fa-gift fa-lg"></i>
                        贈品
                    </a>
                </div>
                <div class="addCart">
                    <a class="pure-button pure-button-primary" href="#">
                        <i class="fa fa-shopping-cart fa-lg"></i>
                        <span>加入購物車</span>
                    </a>
                </div>
                <div class="prodDetail">
                    <ul>
                        <li class="current"><a href="#">付款方式</a></li>
                        <li><a href="#">詳細說明</a></li>
                    </ul>
                    <div class="prodDetail_content">
                        <div></div>
                        <div></div>
                    </div>
                </div>