<div class="prodPage">
    <div class="prodSpec">
        <ul class="prodSpec_1">
            <li ng-repeat="prodSpec1 in prods.prodSpec1"><a href="#">{{prodSpec1}}</a></li>
        </ul>

        <ul class="prodSpec_2">
            <li ng-repeat="prodSpec2 in prods.prodSpec2"><a href="#">{{prodSpec2}}</a></li>
        </ul>
    </div>
    <div class="prodDesc">
        <div class="push_text">{{prods.pushText}}</div>
        <div class="subDesc">{{prods.subdes}}</div>
    </div>
    <div class="recommands_zone">
        <ul>
            <li><a href="#">
                <i class="fa fa-quote-right fa-2x"></i>
                <span>達人推薦</span>
            </a></li>
            <li><a href="#">
                <i class="fa fa-comments fa-2x"></i>
                <span>商品評論</span>
            </a></li>
        </ul>
    </div>
    <div class="more_btn">
        <a href="javascript:void(0);">+more</a>
    </div>
    <div class="prodShow">
        <img src="{{prods.img}}" alt="">
    </div>
    
    <a href="#/shopCart/1/" class="shopCart_btn">
        <i class="fa fa-shopping-cart fa-2x"></i>
    </a>

    <div class="priceZone">
        <span class="org">NT{{prods.priceOrg}}</span>
        <span class="special">NT{{prods.priceSpecial}}</span>
    </div>
    <div class="prod_specNavs">
        <ul>
            <li><a href="#">贈品</a></li>
            <li><a href="#">詳細介紹</a></li>
            <li><a href="#">付款方式</a></li>
            <li><a href="#">配件</a></li>
            <li><a href="#">其他</a></li>
        </ul>
    </div>

</div>


