<div class="shopCart">
	<ul>
		<li class="personPhoto">
			<div class="photoImg">
				<img src="images/person.jpg" alt="">	
			</div>
			<div class="personName">午安，王小美</div>
		</li>
		<li class="priceInfo">
			<div class="shopCart_title">
				<i class="fa fa-file"></i>
				<span>規格選擇</span>
			</div>
			<div class="shopCart_content orderInfo">
				<ul>
					<li>
						<img ng-src="{{prods.img[0]}}" width="100%">
					</li>
					<li>
						<div class="specWrap size">M</div>
					</li>
					<li>
						<div class="specWrap colors">玫瑰紫</div>
					</li>
				</ul>
			</div>
			<div class="shopCart_content priceDetail priceTotalZone">
				<div class="totalPrice" ng-bind="'總額 NT$ '+prods.priceSpecial"></div>
				<div class="orginCoupon" ng-init="$root.price = 200">
					森活價：NT$ <span ng-bind="prods.priceOrg"></span>
					折扣金額：<span ng-bind="'NT$ -'+$root.price"></span>
				</div>
			</div>
		</li>
		<li>
			<div class="shopCart_title member_vip">
				<i class="fa fa-ticket"></i>
				<span>會員獨享</span>
			</div>
			<div class="shopCart_content">
				<div class="discountNavs">
					<ul>
						<li><a href="javascript:void(0);">折價券<span class="couponNums" ng-class="{couponShow: couponHide}" ng-bind="eCoupons.length"></span></a></li>
						<li><a href="javascript:void(0);">紅利金</a></li>
						<li><a href="javascript:void(0);">折扣金</a></li>
					</ul>
				</div>
				<div class="discount_tips">點我看折扣</div>

				<div id="disconPop_1" class="discountPop" ui-view="discountWrap">
					<div class="disContent">
						<ul class="disLists">
							<li ng-repeat="coupon in eCoupons" ng-class="{selected: prods.colorful ==  $index}" ng-click = "prods.colorful = $index;$root.priceCalc($index);">
								<h1 ng-bind="couponValue($index)"></h1>
								<div>
									<p ng-bind="coupon.Event"></p>
									<p class="useTime" ng-bind="'使用期限('+coupon.dateStart+'~'+coupon.dateEnd+')'"></p>
								</div>
							</li>
						</ul>			
					</div>
					<a class="bonusUseTip" href="#">折價券使用說明</a>	
				</div>

				<div id="disconPop_2" class="discountPop" ui-view="discountWrap">
					<div class="disContent">
						<fieldset>
							<label>紅利金：NT$</label>
							<input type="text" ng-model="bonusPrice">
						</fieldset>
						<div class="useTime" ng-bind="'使用期限：'+coupons[0].startDate+'~'+coupons[0].endDate">
						</div>
						<div class="useBonus" ng-bind="'您已剩餘 NT$'+(coupons[0].bonusPrice - bonusPrice)"></div>			
					</div>
				</div>

				<div id="disconPop_3" class="discountPop" ui-view="discountWrap">
					<div class="disContent">
						<fieldset>
							<label ng-bind="'折扣金：NT$'+coupons[1].discountPrice"></label>
						</fieldset>
						<div class="useTime" ng-bind="'使用期限：'+coupons[1].startDate+'~'+coupons[1].endDate">
						</div>
						<div class="useTime" ng-bind="'本次可折抵金額：NT$'+coupons[1].discountPrice*0.2">
						</div>						
					</div>
				</div>
			</div>		
		</li>
		<li>
			<div class="shopCart_title">
				<i class="fa fa-user"></i>
				<span>收件人</span>
			</div>
			<div class="shopCart_content">
				<!-- name -->
				<label>
					<i class="fa fa-user fa-2x"></i>
				</label>
				<input type="text" value="" placeholder="請輸入姓名">
				<!-- name end -->
				<!-- address -->
				<fieldset class="group">
					<label>
						<i class="fa fa-map-marker fa-2x"></i>
					</label>
					<div class="selectGroup">
						<select><option>台北市</option></select>
						<select><option>南港區</option></select>					
					</div>
					<input type="text" value="" placeholder="請輸入詳細地址">
				</fieldset>
				<label>
					<i class="fa fa-mobile fa-2x"></i>
				</label>
				<input type="text" value=""  placeholder="請輸入行動電話">
				<!-- address end -->
			</div>
		</li>
		<li>
			<div class="shopBtn_area">
				<a class="steps_Button" href="#/shopCart/2/">下一步</a>
			</div>
		</li>
	</ul>
</div>
