<div class="shopCart shopFinal">
	<ul>
		<li>
			<div class="shopCart_title finish_title">
				<span>你已完成商品訂購!</span>
				<i class="success"></i>
			</div>
			<div class="shopCart_content finishForm">
				<ul>
					<li class="prodName" ng-bind="prods.name">
						
					</li>
					<li class="prodSpec" ng-bind="prods.prodSpec1[0]+' / '+prods.prodSpec2[1]">
					</li>
					<li class="paymentWay">
						<span class="title">付款方式：</span>
						<span>ATM轉帳付款</span>
					</li>
					<li class="invoiceForm">
						<span class="title">發票形式：</span>
						<span>二聯式電子發票</span>
					</li>
					<li class="totalPrize">
						<span class="title">結帳總額：</span>
						<span ng-bind="'$'+prods.priceSpecial"></span>
					</li>
					<li class="transBank">
						<span class="title">轉帳銀行：</span>
						<span>第一銀行 007</span>
					</li>
					<li class="transNumbers">
						<span class="title">轉帳帳號：</span>
						<span>1234567812345678</span>
					</li>
					<li class="transTips">
						請於訂單日+3天晚上11:59前完成轉帳，否則訂單將自動取消。
					</li>
					<li class="reciveUser">
						<span class="title">收件人：</span>
						<span>王小美</span>
					</li>
					<li class="reciveAddress">
						<span class="title">收件地址：</span>
						<span>台北市大安區敦化南路二段120號</span>
					</li>
					<li class="reciveMobile">
						<span class="title">行動電話：</span>
						<span>0912345678</span>
					</li>
				</ul>
			</div>
		</li>
	</ul>
	<!-- <div class="notice">查訂單 請到</div> -->	
</div>
