<div class="shopCart">
	<ul>
		<li>
			<div class="shopCart_content priceDetail">
				<div class="totalPrice" ng-bind="'總額 NT$ '+prods.priceSpecial"></div>
				<div class="orginCoupon">
					森活價：NT$ <span ng-bind="prods.priceOrg"></span>
					折扣券：<span ng-bind="'NT$ -'+'200'"></span>
				</div>
			</div>
		</li>
		<li>
			<div class="shopCart_title paymentGate">
				<i class="fa fa-money fa-2x"></i>
				<span>付款方式</span>
			</div>
			<div class="shopCart_content">
				<div class="paymentWay">
					<ul>
						<li><a href="">ATM</a></li>
						<li><a href="">貨到付款</a></li>
						<li><a href="">信用卡</a></li>
					</ul>
				</div>				
			</div>
			<div id="payWay_1" class="payments shopCart_content">		
			</div>
			<div id="payWay_2" class="payments shopCart_content">
			</div>
			<div id="payWay_3" class="payments shopCart_content paymentCid">
				<label>
					<i class="fa fa-user fa-2x"></i>
				</label>
				<input type="text" placeholder="請輸入信用卡號16碼">
				<fieldset class="group">
				<label>
					<i class="fa fa-calendar fa-2x"></i>
				</label>
				<div class="selectGroup">
					<select><option>03</option></select>
					<select><option>2013</option></select>					
				</div>
				</fieldset>
				<label>
					<i class="fa fa-credit-card fa-2x"></i>
				</label>
				<input type="text"  placeholder="請輸入背面檢驗3碼">				
			</div>
		</li>
	</ul>
	<a class="steps_Button finish" style="margin-bottom:20px;" href="#/shopCart/3/">OK</a>    	
</div>
