<div class="shopCart">
	<ul>
		<li>
			<div class="shopCart_title user">
				<i class="fa fa-user fa-2x"></i>
				<span>
					Hello. Guest.<br/>
					收件人
				</span>
			</div>
			<div class="shopCart_content">
				<label>
					<i class="fa fa-user fa-2x"></i>
				</label>
				<input type="text" value="{{user[0].name}}">
				<fieldset class="group">
				<label>
					<i class="fa fa-map-marker fa-2x"></i>
				</label>
				<div class="selectGroup">
					<select><option>台北市</option></select>
					<select><option>南港區</option></select>					
				</div>
				<input type="text" value="{{user[0].address}}">
				</fieldset>
				<label>
					<i class="fa fa-mobile fa-2x"></i>
				</label>
				<input type="text" value="{{user[0].mobile}}">
			</div>
		</li>
		<li>
			<div class="shopCart_title">
				<i class="fa fa-file fa-2x"></i>
				<span>訂單確認</span>
			</div>
			<div class="shopCart_content orderInfo">
				<ul>
					<li>
						<img ng-src="{{prods.img[0]}}" width="100%">
					</li>
					<li>
						<div class="specWrap">玫瑰紫</div>
					</li>
					<li>
						<div class="specWrap size">M</div>
					</li>
					<li ng-bind="{{prods.piece}}"></li>
				</ul>
			</div>
			<div class="shopCart_content priceDetail">
				<div class="totalPrice" ng-bind="'總額 NT '+prods.priceSpecial+'元'"></div>
				<div class="orginCoupon">
					森活價：$ <span ng-bind="prods.priceOrg"></span>
					折扣券：<span ng-bind="'$ -'+'0'"></span>
				</div>
			</div>
		</li>
		<li>
			<div class="shopCart_title">
				<i class="fa fa-info fa-2x"></i>
				<span>會員獨享</span>
			</div>
			<div class="shopCart_content">
				<div class="discountNavs">
					<ul>
						<li><a href="">折價券</a></li>
						<li><a href="">紅利金</a></li>
						<li><a href="">折扣金</a></li>
					</ul>
				</div>

				<div id="disconPop_1" class="discountPop" ui-view="discountWrap">
					<a class="disClose" ng-click="discountClose()">
						<i class="fa fa-plus fa-lg"></i>
					</a>
					<div class="disContent">
						<ul class="disLists">
							<li ng-repeat="coupon in eCoupons">
								<h1 ng-bind="coupon.value"></h1>
								<div>
									<p ng-bind="coupon.Event"></p>
									<p class="useTime" ng-bind="'使用期限('+coupon.dateStart+'~'+coupon.dateEnd+')'"></p>
								</div>
							</li>
						</ul>					
					</div>
				</div>

				<div id="disconPop_2" class="discountPop" ui-view="discountWrap">
					<a class="disClose" ng-click="discountClose()">
						<i class="fa fa-plus fa-lg"></i>
					</a>
					<div class="disContent">
						<fieldset>
							<label>紅利金：</label>
							<input type="text" value="{{coupons[0].bonusPrice}}">
						</fieldset>
						<div class="useTime" ng-bind="'使用期限：'+coupons[0].startDate+'~'+coupons[0].endDate">
						</div>			
					</div>
				</div>

				<div id="disconPop_3" class="discountPop" ui-view="discountWrap">
					<a class="disClose" ng-click="discountClose()">
						<i class="fa fa-plus fa-lg"></i>
					</a>
					<div class="disContent">
						<fieldset>
							<label ng-bind="'折扣金：'+coupons[1].discountPrice"></label>
						</fieldset>
						<div class="useTime" ng-bind="'使用期限：'+coupons[1].startDate+'~'+coupons[1].endDate">
						</div>					
					</div>
				</div>
			</div>		
		</li>
		<li>
			<div class="shopBtn_area">
				<a class="steps_Button" href="#/shopCart/2/">NEXT</a>
			</div>
		</li>
	</ul>
	   	
</div>

<!-- <label>價格:</label>
<input type="text" ng-model="prods.priceSpecial">
<a ng-href="#/shopCart/1/" ng-click="update()">update</a>
件數：{{prods.piece}}
姓名：{{user.name}}
<select>
	<option ng-repeat="prodSpec1 in prods.prodSpec1" ng-value="prodSpec1">{{prodSpec1}}</option>
</select>
<select>
	<option ng-repeat="prodSpec2 in prods.prodSpec2" ng-value="prodSpec2">{{prodSpec2}}</option>
</select> -->
