<div class="sideMenuWrap">
	<ul>
		<li>
			<div class="fbPhoto">
				
			</div>
			<span class="memberInfo">
				陳曉梅<br/>
				台北/台灣
			</span>
		</li>
		<li>
			<div class="toolsBox">
				<ul>
					<li>
						<a href="">
							<i class="fa fa-suitcase fa-2x"></i>
							<span>交易記錄</span>
						</a>
					</li>
					<li>
						<a href="">
							<i class="fa fa-suitcase fa-2x"></i>
							<span>會員資料</span>
						</a>
					</li>
					<li>
						<a href="">
							<i class="fa fa-suitcase fa-2x"></i>
							<span>我的折價券</span>
						</a>
					</li>
					<li>
						<a href="">
							<i class="fa fa-suitcase fa-2x"></i>
							<span>使用說明</span>
						</a>
					</li>
				</ul>
			</div>
		</li>
		<li>
			<a href="" class="logoutBtn">
				登出<br/>
				LogOut
			</a>
		</li>
	</ul>
</div>