<div class="userGuide_content">
	<div class="shopCart_title orderLists">
		<i class="fa fa-user fa-2x"></i>
		<span>使用說明</span>
	</div>
	<div class="userGuideWrap">
		<h3>歡迎您加入!</h3>
		<h4>森森百貨股份有限公司<br/>電視、型錄、森森購物網會員</h4>
		<span>
			下列條款為　貴我雙方間權利義務之約定，
			請您務必詳細全部閱讀。	
					
			森森百貨股份有限公司非常重視客戶之隱私權，
			對於客戶資料之蒐集、處理等乃遵循個人資料保
			護法之規範，有關客戶之權益及隱私權政策，說
			明如下：
			1.	資料之蒐集
			•	森森百貨依照您主動提供，或經合法或
			經您同意由第三人提供有關您之個人資料。
			•	另外，為了提供更符合您要需求，森森
			百貨將使用Cookie的技術，接收並且記錄您瀏覽
			器上的伺服器數值，包括IP Address、Cookies，
			以進行提供與產品更新及網路服務優化有關的工
			作時使用。
		</span>
	</div>
</div>