@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gnux123\/Desktop\/umallShop\/app\/sass\/_layout\.scss}line{font-family:\000031}}
.page {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gnux123\/Desktop\/umallShop\/app\/sass\/_layout\.scss}line{font-family:\000036}}
.page .navs {
  display: block;
  width: 100%;
  height: 45px;
  background: #ececec;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gnux123\/Desktop\/umallShop\/app\/sass\/_layout\.scss}line{font-family:\0000313}}
.page .main {
  *zoom: 1;
  max-width: 249%;
  _width: 249%;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(9.63855%, rgba(100, 100, 225, 0.25)), color-stop(9.63855%, rgba(0, 0, 0, 0)), color-stop(10.04016%, rgba(0, 0, 0, 0)), color-stop(10.04016%, rgba(100, 100, 225, 0.25)), color-stop(19.67871%, rgba(100, 100, 225, 0.25)), color-stop(19.67871%, rgba(0, 0, 0, 0)), color-stop(20.08032%, rgba(0, 0, 0, 0)), color-stop(20.08032%, rgba(100, 100, 225, 0.25)), color-stop(29.71888%, rgba(100, 100, 225, 0.25)), color-stop(29.71888%, rgba(0, 0, 0, 0)), color-stop(30.12048%, rgba(0, 0, 0, 0)), color-stop(30.12048%, rgba(100, 100, 225, 0.25)), color-stop(39.75904%, rgba(100, 100, 225, 0.25)), color-stop(39.75904%, rgba(0, 0, 0, 0)), color-stop(40.16064%, rgba(0, 0, 0, 0)), color-stop(40.16064%, rgba(100, 100, 225, 0.25)), color-stop(49.7992%, rgba(100, 100, 225, 0.25)), color-stop(49.7992%, rgba(0, 0, 0, 0)), color-stop(50.2008%, rgba(0, 0, 0, 0)), color-stop(50.2008%, rgba(100, 100, 225, 0.25)), color-stop(59.83936%, rgba(100, 100, 225, 0.25)), color-stop(59.83936%, rgba(0, 0, 0, 0)), color-stop(60.24096%, rgba(0, 0, 0, 0)), color-stop(60.24096%, rgba(100, 100, 225, 0.25)), color-stop(69.87952%, rgba(100, 100, 225, 0.25)), color-stop(69.87952%, rgba(0, 0, 0, 0)), color-stop(70.28112%, rgba(0, 0, 0, 0)), color-stop(70.28112%, rgba(100, 100, 225, 0.25)), color-stop(79.91968%, rgba(100, 100, 225, 0.25)), color-stop(79.91968%, rgba(0, 0, 0, 0)), color-stop(80.32129%, rgba(0, 0, 0, 0)), color-stop(80.32129%, rgba(100, 100, 225, 0.25)), color-stop(89.95984%, rgba(100, 100, 225, 0.25)), color-stop(89.95984%, rgba(0, 0, 0, 0)), color-stop(90.36145%, rgba(0, 0, 0, 0)), color-stop(90.36145%, rgba(100, 100, 225, 0.25)), color-stop(100.0%, rgba(100, 100, 225, 0.25)), color-stop(100.0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 9.63855%, rgba(0, 0, 0, 0) 9.63855%, rgba(0, 0, 0, 0) 10.04016%, rgba(100, 100, 225, 0.25) 10.04016%, rgba(100, 100, 225, 0.25) 19.67871%, rgba(0, 0, 0, 0) 19.67871%, rgba(0, 0, 0, 0) 20.08032%, rgba(100, 100, 225, 0.25) 20.08032%, rgba(100, 100, 225, 0.25) 29.71888%, rgba(0, 0, 0, 0) 29.71888%, rgba(0, 0, 0, 0) 30.12048%, rgba(100, 100, 225, 0.25) 30.12048%, rgba(100, 100, 225, 0.25) 39.75904%, rgba(0, 0, 0, 0) 39.75904%, rgba(0, 0, 0, 0) 40.16064%, rgba(100, 100, 225, 0.25) 40.16064%, rgba(100, 100, 225, 0.25) 49.7992%, rgba(0, 0, 0, 0) 49.7992%, rgba(0, 0, 0, 0) 50.2008%, rgba(100, 100, 225, 0.25) 50.2008%, rgba(100, 100, 225, 0.25) 59.83936%, rgba(0, 0, 0, 0) 59.83936%, rgba(0, 0, 0, 0) 60.24096%, rgba(100, 100, 225, 0.25) 60.24096%, rgba(100, 100, 225, 0.25) 69.87952%, rgba(0, 0, 0, 0) 69.87952%, rgba(0, 0, 0, 0) 70.28112%, rgba(100, 100, 225, 0.25) 70.28112%, rgba(100, 100, 225, 0.25) 79.91968%, rgba(0, 0, 0, 0) 79.91968%, rgba(0, 0, 0, 0) 80.32129%, rgba(100, 100, 225, 0.25) 80.32129%, rgba(100, 100, 225, 0.25) 89.95984%, rgba(0, 0, 0, 0) 89.95984%, rgba(0, 0, 0, 0) 90.36145%, rgba(100, 100, 225, 0.25) 90.36145%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 9.63855%, rgba(0, 0, 0, 0) 9.63855%, rgba(0, 0, 0, 0) 10.04016%, rgba(100, 100, 225, 0.25) 10.04016%, rgba(100, 100, 225, 0.25) 19.67871%, rgba(0, 0, 0, 0) 19.67871%, rgba(0, 0, 0, 0) 20.08032%, rgba(100, 100, 225, 0.25) 20.08032%, rgba(100, 100, 225, 0.25) 29.71888%, rgba(0, 0, 0, 0) 29.71888%, rgba(0, 0, 0, 0) 30.12048%, rgba(100, 100, 225, 0.25) 30.12048%, rgba(100, 100, 225, 0.25) 39.75904%, rgba(0, 0, 0, 0) 39.75904%, rgba(0, 0, 0, 0) 40.16064%, rgba(100, 100, 225, 0.25) 40.16064%, rgba(100, 100, 225, 0.25) 49.7992%, rgba(0, 0, 0, 0) 49.7992%, rgba(0, 0, 0, 0) 50.2008%, rgba(100, 100, 225, 0.25) 50.2008%, rgba(100, 100, 225, 0.25) 59.83936%, rgba(0, 0, 0, 0) 59.83936%, rgba(0, 0, 0, 0) 60.24096%, rgba(100, 100, 225, 0.25) 60.24096%, rgba(100, 100, 225, 0.25) 69.87952%, rgba(0, 0, 0, 0) 69.87952%, rgba(0, 0, 0, 0) 70.28112%, rgba(100, 100, 225, 0.25) 70.28112%, rgba(100, 100, 225, 0.25) 79.91968%, rgba(0, 0, 0, 0) 79.91968%, rgba(0, 0, 0, 0) 80.32129%, rgba(100, 100, 225, 0.25) 80.32129%, rgba(100, 100, 225, 0.25) 89.95984%, rgba(0, 0, 0, 0) 89.95984%, rgba(0, 0, 0, 0) 90.36145%, rgba(100, 100, 225, 0.25) 90.36145%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 9.63855%, rgba(0, 0, 0, 0) 9.63855%, rgba(0, 0, 0, 0) 10.04016%, rgba(100, 100, 225, 0.25) 10.04016%, rgba(100, 100, 225, 0.25) 19.67871%, rgba(0, 0, 0, 0) 19.67871%, rgba(0, 0, 0, 0) 20.08032%, rgba(100, 100, 225, 0.25) 20.08032%, rgba(100, 100, 225, 0.25) 29.71888%, rgba(0, 0, 0, 0) 29.71888%, rgba(0, 0, 0, 0) 30.12048%, rgba(100, 100, 225, 0.25) 30.12048%, rgba(100, 100, 225, 0.25) 39.75904%, rgba(0, 0, 0, 0) 39.75904%, rgba(0, 0, 0, 0) 40.16064%, rgba(100, 100, 225, 0.25) 40.16064%, rgba(100, 100, 225, 0.25) 49.7992%, rgba(0, 0, 0, 0) 49.7992%, rgba(0, 0, 0, 0) 50.2008%, rgba(100, 100, 225, 0.25) 50.2008%, rgba(100, 100, 225, 0.25) 59.83936%, rgba(0, 0, 0, 0) 59.83936%, rgba(0, 0, 0, 0) 60.24096%, rgba(100, 100, 225, 0.25) 60.24096%, rgba(100, 100, 225, 0.25) 69.87952%, rgba(0, 0, 0, 0) 69.87952%, rgba(0, 0, 0, 0) 70.28112%, rgba(100, 100, 225, 0.25) 70.28112%, rgba(100, 100, 225, 0.25) 79.91968%, rgba(0, 0, 0, 0) 79.91968%, rgba(0, 0, 0, 0) 80.32129%, rgba(100, 100, 225, 0.25) 80.32129%, rgba(100, 100, 225, 0.25) 89.95984%, rgba(0, 0, 0, 0) 89.95984%, rgba(0, 0, 0, 0) 90.36145%, rgba(100, 100, 225, 0.25) 90.36145%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 9.63855%, rgba(0, 0, 0, 0) 9.63855%, rgba(0, 0, 0, 0) 10.04016%, rgba(100, 100, 225, 0.25) 10.04016%, rgba(100, 100, 225, 0.25) 19.67871%, rgba(0, 0, 0, 0) 19.67871%, rgba(0, 0, 0, 0) 20.08032%, rgba(100, 100, 225, 0.25) 20.08032%, rgba(100, 100, 225, 0.25) 29.71888%, rgba(0, 0, 0, 0) 29.71888%, rgba(0, 0, 0, 0) 30.12048%, rgba(100, 100, 225, 0.25) 30.12048%, rgba(100, 100, 225, 0.25) 39.75904%, rgba(0, 0, 0, 0) 39.75904%, rgba(0, 0, 0, 0) 40.16064%, rgba(100, 100, 225, 0.25) 40.16064%, rgba(100, 100, 225, 0.25) 49.7992%, rgba(0, 0, 0, 0) 49.7992%, rgba(0, 0, 0, 0) 50.2008%, rgba(100, 100, 225, 0.25) 50.2008%, rgba(100, 100, 225, 0.25) 59.83936%, rgba(0, 0, 0, 0) 59.83936%, rgba(0, 0, 0, 0) 60.24096%, rgba(100, 100, 225, 0.25) 60.24096%, rgba(100, 100, 225, 0.25) 69.87952%, rgba(0, 0, 0, 0) 69.87952%, rgba(0, 0, 0, 0) 70.28112%, rgba(100, 100, 225, 0.25) 70.28112%, rgba(100, 100, 225, 0.25) 79.91968%, rgba(0, 0, 0, 0) 79.91968%, rgba(0, 0, 0, 0) 80.32129%, rgba(100, 100, 225, 0.25) 80.32129%, rgba(100, 100, 225, 0.25) 89.95984%, rgba(0, 0, 0, 0) 89.95984%, rgba(0, 0, 0, 0) 90.36145%, rgba(100, 100, 225, 0.25) 90.36145%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
  height: 800px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.page .main:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 320px) and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gnux123\/Desktop\/umallShop\/app\/sass\/_layout\.scss}line{font-family:\0000321}}
  .page .main {
    max-width: 99%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(24.24242%, rgba(100, 100, 225, 0.25)), color-stop(24.24242%, rgba(0, 0, 0, 0)), color-stop(25.25253%, rgba(0, 0, 0, 0)), color-stop(25.25253%, rgba(100, 100, 225, 0.25)), color-stop(49.49495%, rgba(100, 100, 225, 0.25)), color-stop(49.49495%, rgba(0, 0, 0, 0)), color-stop(50.50505%, rgba(0, 0, 0, 0)), color-stop(50.50505%, rgba(100, 100, 225, 0.25)), color-stop(74.74747%, rgba(100, 100, 225, 0.25)), color-stop(74.74747%, rgba(0, 0, 0, 0)), color-stop(75.75758%, rgba(0, 0, 0, 0)), color-stop(75.75758%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 24.24242%, rgba(0, 0, 0, 0) 24.24242%, rgba(0, 0, 0, 0) 25.25253%, rgba(100, 100, 225, 0.25) 25.25253%, rgba(100, 100, 225, 0.25) 49.49495%, rgba(0, 0, 0, 0) 49.49495%, rgba(0, 0, 0, 0) 50.50505%, rgba(100, 100, 225, 0.25) 50.50505%, rgba(100, 100, 225, 0.25) 74.74747%, rgba(0, 0, 0, 0) 74.74747%, rgba(0, 0, 0, 0) 75.75758%, rgba(100, 100, 225, 0.25) 75.75758%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 24.24242%, rgba(0, 0, 0, 0) 24.24242%, rgba(0, 0, 0, 0) 25.25253%, rgba(100, 100, 225, 0.25) 25.25253%, rgba(100, 100, 225, 0.25) 49.49495%, rgba(0, 0, 0, 0) 49.49495%, rgba(0, 0, 0, 0) 50.50505%, rgba(100, 100, 225, 0.25) 50.50505%, rgba(100, 100, 225, 0.25) 74.74747%, rgba(0, 0, 0, 0) 74.74747%, rgba(0, 0, 0, 0) 75.75758%, rgba(100, 100, 225, 0.25) 75.75758%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 24.24242%, rgba(0, 0, 0, 0) 24.24242%, rgba(0, 0, 0, 0) 25.25253%, rgba(100, 100, 225, 0.25) 25.25253%, rgba(100, 100, 225, 0.25) 49.49495%, rgba(0, 0, 0, 0) 49.49495%, rgba(0, 0, 0, 0) 50.50505%, rgba(100, 100, 225, 0.25) 50.50505%, rgba(100, 100, 225, 0.25) 74.74747%, rgba(0, 0, 0, 0) 74.74747%, rgba(0, 0, 0, 0) 75.75758%, rgba(100, 100, 225, 0.25) 75.75758%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 24.24242%, rgba(0, 0, 0, 0) 24.24242%, rgba(0, 0, 0, 0) 25.25253%, rgba(100, 100, 225, 0.25) 25.25253%, rgba(100, 100, 225, 0.25) 49.49495%, rgba(0, 0, 0, 0) 49.49495%, rgba(0, 0, 0, 0) 50.50505%, rgba(100, 100, 225, 0.25) 50.50505%, rgba(100, 100, 225, 0.25) 74.74747%, rgba(0, 0, 0, 0) 74.74747%, rgba(0, 0, 0, 0) 75.75758%, rgba(100, 100, 225, 0.25) 75.75758%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
    background-position: left top;
    -webkit-background-origin: content;
    -moz-background-origin: content;
    -ms-background-origin: content-box;
    -o-background-origin: content-box;
    background-origin: content-box;
    -webkit-background-clip: content-box;
    -moz-background-clip: content-box;
    background-clip: content-box;
    height: 800px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
  .page .main:after {
    content: "";
    display: table;
    clear: both;
  }
}
