//susy
$mobile:320px 4 480px;

$total-columns    : 10; //格線內的總欄數
$column-width     : 100px; //5個字
$gutter-width     : 10px; //欄間距
$grid-padding     : 0;//1em 至左及至右滿版兩邊間距

@include at-breakpoint($mobile) { 
	//mobile settings
	$total-columns 	  : 4; //格線內的總欄數

}

a {
	text-decoration:none;
	color:#362e2b;
}

.wave.ng-enter, .wave.ng-leave {
  -webkit-transition:all 1s ease-in-out;
    -moz-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
}

.wave.ng-enter {
  opacity: 0;
}

.wave.ng-enter-active {
  opacity: 1;

}

.wave.ng-leave {
  opacity: 1;
}

.wave.ng-leave-active {
  opacity: 0;
}