//susy
$mobile:320px 4 480px;

$total-columns    : 10; //格線內的總欄數
$column-width     : 100px; //5個字
$gutter-width     : 10px; //欄間距
$grid-padding     : 5px;//1em 至左及至右滿版兩邊間距

@include at-breakpoint($mobile) { 
	//mobile settings
	$total-columns 	  : 4; //格線內的總欄數

}

a {
	text-decoration:none;
	color:#362e2b;
}

.wave-enter, .wave-leave {
    -webkit-transition:all 5s;
    -moz-transition:all 5s;
    -o-transition:all 5s;
    transition:all 5s;
}
.wave-enter {
    position:absolute;
    left:100%;
}
.wave-enter-active {
    left:0;
}
.wave-leave {
    position:absolute;
    left:0;
}
.wave-leave-active {
    left:-100%;
}