@-webkit-keyframes inball {
	from{
		-webkit-transform: rotate(0deg);
		   -moz-transform: rotate(0deg);
		    -ms-transform: rotate(0deg);
		     -o-transform: rotate(0deg);
		        transform: rotate(0deg);
	}to{
		-webkit-transform: rotate(360deg);
		   -moz-transform: rotate(360deg);
		    -ms-transform: rotate(360deg);
		     -o-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}

@-webkit-keyframes outball {
	from{
		-webkit-transform: rotate(360deg);
		   -moz-transform: rotate(360deg);
		    -ms-transform: rotate(360deg);
		     -o-transform: rotate(360deg);
		        transform: rotate(360deg);
	}to{
		-webkit-transform: rotate(0deg);
		   -moz-transform: rotate(0deg);
		    -ms-transform: rotate(0deg);
		     -o-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
}

@-webkit-keyframes goal {
	from{
		-webkit-transform: rotate(0deg);
		   -moz-transform: rotate(0deg);
		    -ms-transform: rotate(0deg);
		     -o-transform: rotate(0deg);
		        transform: rotate(0deg);
	}to{
		-webkit-transform: rotate(1800deg);
		   -moz-transform: rotate(1800deg);
		    -ms-transform: rotate(1800deg);
		     -o-transform: rotate(1800deg);
		        transform: rotate(1800deg);
	}
}

@-webkit-keyframes goal-r {
	from{
		-webkit-transform: rotate(1800deg);
		   -moz-transform: rotate(1800deg);
		    -ms-transform: rotate(1800deg);
		     -o-transform: rotate(1800deg);
		        transform: rotate(1800deg);
	}to{
		-webkit-transform: rotate(0deg);
		   -moz-transform: rotate(0deg);
		    -ms-transform: rotate(0deg);
		     -o-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
} 
@include at-breakpoint($mobile) {
	.gameEvent {
		position:relative;
		@include container;
		@include border-box-sizing;
		overflow:hidden;
		padding:0;
		background:url(./../images/bg.jpg) no-repeat;

		& > img {
			width:100%;
		}
	}



	.main-animate {
		margin:0 auto;
		top:50%;
		margin-top:-150px;
		position: relative;
		display: block;
		width:300px;
		height:300px;

		& > div {
	   		position: absolute;
	   		border-radius: 1000em;
	   		display: block;
	   		box-sizing:border-box;
		}


		.wrap {
				z-index:0;
				top:0;
				left:0;
				width:300px;
				height:300px;
				background: url(./../images/gold_bg.png) no-repeat;
				box-shadow: 0 0 12px rgba(0,0,0,.8);
				box-sizing:border-box;
		    	/* animation */
				-webkit-animation-name:inball;
		    	-webkit-animation-duration:15s;
		}

	    .lightBall {
			z-index:1;		    	
			top:10px;
			left:10px;
	    	width:280px;
	    	height:280px;	    	
	   		background:url(./../images/rotate_bg1.png) center no-repeat;
	   		box-shadow: inset 0 0 8px rgba(0,0,0,.5);

	   		/* animation */
			-webkit-animation-name:outball;
			-webkit-animation-duration:16s;
	    	-webkit-animation-timing-function:linear;
	   		-webkit-animation-iteration-count:infinite;	  		
	    }


	    .board_main {
			z-index:2;		    	
			top:40px;
			left:40px;
	    	width:220px;
	    	height:220px;	    	
	   		background:url(images/bg-2.jpg) center no-repeat;
	   		box-sizing:border-box;
	   		border:5px solid #ffcc00;
	   		box-shadow: 0 0 8px rgba(0,0,0,.5);

	   		/* animation */
/*				-webkit-animation-name:inball;
	    	-webkit-animation-duration:15s;	*/	   		
	    }

	    a.blackCircle {
	    	position:absolute;
	    	z-index:3;
	    	top:90px;
	    	left:90px;
	    	width:120px;
	    	height:120px;
	    	background: url(./../images/btn_start.png) center no-repeat;
	    	box-sizing:border-box;
	    	border-radius:0;
	   		display: block;

	   		/* animation */
/*				-webkit-animation-name:outball;
	    	-webkit-animation-duration:15s;	*/	    	
	    }

	    .linear {
	    	-webkit-animation-timing-function:linear;
	   		-webkit-animation-iteration-count:infinite;		    	
	    }		    

	    .lightBall-run {
	 		-webkit-animation-name:goal;
			-webkit-animation-timing-function:ease;
			-webkit-animation-duration:10s;
			-webkit-animation-iteration-count:1;
	    }

	    .blackCircle-run {
			-webkit-animation-name:goal-r;
			-webkit-animation-timing-function:ease;
			-webkit-animation-duration:12s;
			-webkit-animation-iteration-count:1;   		    			    	
	    }
	}

	//gameHelp

	a.gameHelp_btn {
		position: absolute;
		display: block;
		top:5px;
		right:10px;
		width:20px;
		height:20px;

		& > i { color:$pink-text; }

		&.gameHelp {
			display: none; //show&hide
		}
	}


}