.page {
	@include container;
	//@include susy-grid-background;
	.navs {
		position:relative;
		//padding-top:15px;
		display:none;
		height:auto;
		background:$pink-lite;
		//logo
		.appLogo {
			position:relative;
			.logo {
				position:absolute;
				display: block;
				width:26px;
				height:26px;
				left:50%;
				top:8px;
				margin-left:-13px;
				color:$pink-text;
				& > img { width:26px; }
			}
		}

		//backBtn
		a.back {
			z-index:2;
			position:absolute;
			left:5px;
			top:50%;
			margin-top:-7px;
			color:$pink-text;
			font-size:1.2rem;

			&.backShow {
				display: none;
			}
		}
		
		h2.prods_name, div.prods_nums {
			color:$pink-text;
		}

		h2.prods_name {
			margin:0 20px;
			line-height:35px;
			height:35px;
			text-align: center;
			font-weight: bold;
		}

		div.prods_nums {
			position:absolute;
			font-family: arial;
			font-size:1rem;
			left:0;
			bottom:8px;
			width:100%;
			z-index:1;
			height:15px;
			line-height:15px;
			text-align: center;
		}

	}
}

@include at-breakpoint($mobile) {
	$gutter-width     : 0px; //欄間距
	.page {
		@include container;
		//@include susy-grid-background;
	}
	.page .navs {
		display: block;
		position:relative;
		width:100%;
		height:auto;
		top:0;
		left:0;
		background:$pink-lite;
		z-index:1;
		
		.appLogo {
			width:100%;
			height:45px;
		}

		.prodNavs {
			height:60px;
		}

	}

	.page .main {
		position:relative;
		//margin-top:5px;
		padding:0;
		@include container;
		//@include susy-grid-background;
		min-height: 100%;
		height:auto;

		& > div {
			margin-top:-2px;
			@include border-box-sizing;
		}

		& > .push_bg {
			background:url(./../images/bg.jpg) no-repeat;
			-moz-background-size:cover;
			-webkit-background-size:cover;
			-o-background-size:cover;
			background-size:cover;		
		}
	}


	//main
	.page .AdBanner {
		height:auto;
		@include span-columns(4 omega);
		a > img { width:100%; }	
	}

	.page .prodsGroup {
		height:auto;
		@include span-columns(4 omega);
		@include pie-clearfix;
		& > ul > li {
			float:left;
			display: block;
			height:auto;
			@include span-columns(2,4);

			&:last-child {
				@include span-columns(2 omega,4);
			}

			.hotProd {
				width:100%;
				height:auto;
				a > img { width:100%; }

				.hotProdSpec {
					margin-top:-2px;
					width:100%;
					height:70px;
					background:$pink-lite;

					h3 { line-height:20px; }
				}

				.priceGroup {
					padding-top:5px;
					color:$pink-text;
					font-family: arial;
					font-size:1.4rem;
					text-align: right;
				}
			}
		}		
	}

}