.page {
	position:relative;
	display:block;
	width:100%;
	height:100%;
	.navs {
		display:block;
		width:100%;
		height:45px;
		background:#ececec;
	}
	
	.main {
		@include container;
		@include susy-grid-background;
		height:800px;		
	}
}

@include at-breakpoint($mobile) {
	.page .main {
		@include container;
		@include susy-grid-background;
		height:800px;		
	}
}