@include at-breakpoint($mobile) {
	.prodPage{
		position:relative;
		@include container;
		height:100%;
	}

	.prodSpec {
		position:relative;
		margin-top:10px;
		margin-left:10px;
		ul {
			display: inline-block;
			margin:5px 0;
			padding:0;
			@include pie-clearfix;
			border:3px solid $gray-lite;
			background:#ffffff;
		}
		ul > li { 
			float:left;
			a {
				display:block;
				padding:0 8px;
				height:35px;
				line-height: 35px;
				text-align: center;
				color:$pink-text;
				font-size:0.95rem;
				font-family: arial;
			}
			
			&.current {
				background:$gray-lite;
			}
		}
	}

	.prodDesc {
		position:relative;
		margin:10px 0;
		padding:0 15px;
		& > div {
			font-size:0.92rem;
			line-height:20px;
			color:#666666;
		}
	}

	.prodShow {
		margin-top:15px;
		position:relative;
		padding:0 10px;
		@include span-columns(4 omega);
		@include border-box-sizing;
		height:auto;

		img {
			width:100%;
		}
		
		.nav {
			z-index: 3;
			position:absolute;
			width:100%;	
			top:-5px;
			left:0;
			width:100%;
			text-align: center;

		}

		.nav a {
			display: inline-block;
			width:13px;
			height:13px;
			border:2px solid #cccccc;
			border-radius:1000em;
			margin-left: 5px;
			&:first-child { margin-left:0; }
			&.current { background:#cccccc; }
		}
	}

	.recommands_zone {
		position:relative;
		@include span-columns(4 omega);
		@include border-box-sizing;
		padding:0 10px;
		text-align: center;
		& > ul { 
			@include pie-clearfix;
			display: inline-block;
			margin:0 auto;
		}
		& > ul > li {
			float:left;
			display: inline;
			width:100px;
			height:100px;
			
			&:first-child { margin-left:0; }

			& > a, & > div {
				position:relative;
				display: block;
				width:100px;
				height:100px;
				text-align: center;
				//@include border-box-sizing;

				& > i {
					width:65px;
					height:65px;
					line-height:63px;
					border-radius:10000em;
					background:$pink-text;
					position:absolute;
					text-align: center;
					top:0;
					left:17.5px;
					color:#ffffff;
				}

				&:first-child > i {line-height:65px; }

				span { 
					position:absolute;
					display: block;
					width:100%;
					bottom:10px;
					text-align: center;
					font-size:0.9rem;
					color:$pink-text;
				}
				
				&.specBtn {
					z-index:3;
					-webkit-transition:all 500ms ease-in-out;
					-moz-transition:all 500ms ease-in-out;
					-o-transition:all 500ms ease-in-out;
					transition:all 500ms ease-in-out;
					-webkit-transform: translate3d(0,0,0);
					transform: translate3d(0,0,0);

					span.hidein { display:none; }

					$items: 5;

					@for $i from 1 through $items {
					  
					  #menu > .menu-item:nth-child(#{$i}) {
					    transition-delay: (750+($i * 75))#{ms};
					    -webkit-transition-delay: (750+($i * 75))#{ms};
					  }
					}									
				}
			} 
		}		
	}


	.prodDetails {
		@include span-columns(4 omega);
		@include border-box-sizing;
		position:relative;
		margin-top:20px;
		margin-bottom:40px;
		& ul > li {
			h3 {
				display:block; 
				width:100%;
				height:30px;
				line-height: 30px;
				background:$pink-lite;
				color:$pink-text;
				font-size:1rem;
			}

			& > div {
				margin:10px 0;
				width:100%;
				height:auto;
				font-size:0.92rem;
			}
		}
	}

	// .more_btn {
	// 	position:relative;
	// 	@include span-columns(4 omega);
	// 	@include border-box-sizing;
	// 	margin:10px 0;
	// 	padding:0 10px;
	// 	font-family: arial;
	// 	text-align: center;
	// 	a {
	// 		display: inline-block;
	// 		margin:0 auto;
	// 		padding:0 5px;
	// 		height:30px;
	// 		line-height: 30px;
	// 		background:$pink-text;
	// 		color:#ffffff;
	// 	}
	// }

	a.shopCart_btn {
		position:fixed;
		bottom:50px;
		right:10px;
		background:rgba(255,204,204,.7);
		padding:10px;
		color:$pink-text;
		text-align: center;
	}

	.priceZone {
		z-index:99;
		position:fixed;
		bottom:0;
		left:0;
		display: block;
		@include span-columns(4 omega);
		height:40px;
		background:rgba(255,204,204,.7);
		text-align: right;
		
		& > .shareIcons {
			position: absolute;
			left:5px;
			top:5px;
			display: inline-block;
			height:30px;
		}
		
		& > .shareIcons ul { @include pie-clearfix; }

		& > .shareIcons ul li {
			float:left;
			margin-left:5px;
			font-size:0.75rem;
			&:first-child { 
				margin-left:0;
				font-size:1.8rem;
				font-weight: bolder;
			}
		}

		& > .shareIcons ul li a {
			display: block;
			width:30px;
			height:30px;
			border-radius:1000em;
			background:$pink-text;
			color:#ffffff;
			text-align: center;
			line-height:30px;
			font-family:arial;

		}

		& > span { 
			display:inline-block; 
			font-size:1.1rem;
			line-height: 40px;
			margin-right:10px;
			font-family: arial;
			
			&.org { text-decoration:line-through; }
			&.special { color:$pink-text; }
		}
	}

	.prod_specNavs {
		bottom:0;
		left:0;
		position: fixed;
		@include span-columns(4 omega);

		ul li {
			display: block;
			width:100%;
			height:45px;
			line-height: 45px;
			background:rgba(255,204,204,1);
			border-top:2px solid #ffffff;
			text-align: center;
			letter-spacing: 3px;
			&:first-child { border-top:0px; }
			a {
				color:$pink-text;
			}
		}
	}

	//animate
	.prod_specNavs, .priceZone, .shopCart_btn, .prodShow {
		-webkit-transition:all 1s ease-in-out;
		-moz-transition:all 1s ease-in-out;
		-o-transition:all 1s ease-in-out;
		transition:all 1s ease-in-out;
	}

	.priceZone, .shopCart_btn {
		opacity: 1;
		&.hidein {
			opacity: 0;
		}
	}

	.prodShow {
		opacity: 1;
		&.hidein {
			opacity: 0.5;
		}
	}

	.prod_specNavs {
		-webkit-transform: translate3d(0,300px,0);
		-moz-transform: translate3d(0,300px,0);
		-ms-transform: translate3d(0,300px,0);
		-o-transform: translate3d(0,300px,0);
		transform: translate3d(0,300px,0);
	
		&.active {
			-webkit-transform: translate3d(0,0,0);
			-moz-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			-o-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);			
		}
	}



	//menuSlide

	#menu {
		position:relative;
		z-index: -1;
		& > li {
			&.menu-item {
				width: 30px;
				height: 30px;
				line-height: 30px;
				position: absolute;
				left: 5%;
				top: 5%;
				margin: 15px 0 0 15px;
				transform: translate3d(0,0,0);
				transition: transform 500ms;
				-webkit-transform: translate3d(0,0,0);
				-webkit-transition: transform 500ms;
				background:$pink-lite;
				border-radius:50%;
				overflow:hidden;
			}
		
			a {
				display: block;
				width:30px;
				height:30px;
				line-height: 30px;
				border-radius:50%;
				background:$pink-text;
				color:$pink-text;
				z-index:2;
			}
		}
	}

	div.specBtn.fixZone {
		-webkit-transition:all 1200ms ease-in-out;
		-moz-transition:all 1200ms ease-in-out;
		-o-transition:all 1200ms ease-in-out;
		transition:all 1200ms ease-in-out;
		z-index:5;
		position:fixed;
		-webkit-transform: translate3d(0,60px,0);
		transform: translate3d(0,60px,0);
		
		a {
			box-shadow:0 0 6px rgba(0,0,0,.5);
		}	
	

		$items: 5;
		$radius: 60px;

		$angle: -225deg / $items;

		@for $i from 1 through $items {
		  
		  $alpha: ($i * $angle);
		  $x: sin(($angle * $i) - $angle - 90) * $radius;
		  $y: cos(($angle * $i) - $angle - 90) * $radius;
		  
		  
		  #menu > .menu-item:nth-child(#{$i}) {
		    transition-delay: (600+($i * 75))#{ms};
		    transform: translate3d($y, $x, 0);
		    -webkit-transition-delay: (500+($i * 75))#{ms};
		    -webkit-transform: translate3d($y, $x, 0);
		  }
		}
	}

	//specChoiceZone
	.specChoice_title {
		margin:10px 0;
		@include span-columns(4 omega);
		@include border-box-sizing;
		height:30px;
		line-height: 30px;
		font-size:1rem;
		letter-spacing: 2px;
		text-align: center;
		color:$black-g;
	}

	.specChoiceWrap {
		position:relative;
		@include border-box-sizing;
		height:60px;
		overflow: hidden;
		& > ul {
			position:absolute;
			@include pie-clearfix;
			display: inline-block;
		}
		
		& > ul li {
			margin:5px;
			float:left;
			display: inline;
			display:block;
			width:46px;
			height:46px;
			border-radius:50%;
			@include border-box-sizing;
			border:2px solid $pink-lite;
			background:#ffffff;
			text-align: center;
			line-height: 46px;
		}

	}
	
	.specChoiceWrap.specChoice {
		margin:0 10px;
		border:2px solid $pink-lite;
		& > ul {
			left:30px;
			top:0;
			width:1000em;
			-webkit-transition: all 500ms linear;
					transition: all 500ms linear;
		}
		//slideBtn
		.slideBtn {
			position:absolute;
			width:25px;
			height:100%;
			background:$pink-text;
			z-index:1;
			top:0;

			i {
				margin-top:10px;
				position:relative;
				display: block;
				width:25px;
				text-align: center;
				color:#ffffff;
			}
		}

		.slideBtn.nextBtn {
			right:0;
		}
	}

	//sizeChoice Module
	.specChoiceWrap.sizeChoice {
		@include span-columns(4 omega);
		position:relative;
		border:0;
		height:40px;
		text-align: center;
		& > ul {
			position:relative;
			display: inline-block;
			//@include pie-clearfix;
		}
		& > ul li {
			float:left;
			margin:0 5px;
			width:40px;
			height:40px;
			line-height: 40px;
			background:$pink-text;
			border:0;
			a {
				color:#ffffff;
				font-size:0.93rem;
			}
		}
	}
}