@include at-breakpoint($mobile) {
	.prodPage{
		position:relative;
		@include container;
		height:100%;
		overflow:hidden;
		
	}

	.prodSpec {
		position:relative;
		margin-top:10px;
		margin-left:10px;
		ul {
			display: inline-block;
			margin:5px 0;
			padding:0;
			@include pie-clearfix;
			border:3px solid $gray-lite;
			background:#ffffff;
		}
		ul > li { 
			float:left;
			a {
				display:block;
				padding:0 8px;
				height:35px;
				line-height: 35px;
				text-align: center;
				color:$pink-text;
				font-size:0.95rem;
				font-family: arial;
			}
			
			&.current {
				background:$gray-lite;
			}
		}
	}

	.prodDesc {
		position:relative;
		margin:10px 0;
		padding:0 15px;
		& > div {
			font-size:0.92rem;
			line-height:20px;
			color:#666666;
		}
	}

	.prodShow {
		position:relative;
		padding:0 10px;
		@include span-columns(4 omega);
		@include border-box-sizing;

		& > img {
			width:100%;
		}
	}

	.recommands_zone {
		position:relative;
		@include span-columns(4 omega);
		@include border-box-sizing;
		padding:0 10px;
		text-align: center;
		ul { 
			@include pie-clearfix;
			display: inline-block;
			margin:0 auto;
		}
		ul > li {
			float:left;
			margin-left:20px;
			
			&:first-child { margin-left:0; }

			a {
				position:relative;
				display: block;
				width:100px;
				height:100px;
				text-align: center;
				@include border-box-sizing;
			}

			a i {
				width:65px;
				height:65px;
				line-height:63px;
				border-radius:10000em;
				background:$pink-text;
				position:absolute;
				text-align: center;
				top:0;
				left:17.5px;
				color:#ffffff;
			}

			a:first-child i {line-height:65px;}

			a span { 
				position:absolute;
				display: block;
				width:100%;
				bottom:10px;
				text-align: center;
				font-size:0.9rem;
				color:$pink-text;
			}
		}		
	}

	.more_btn {
		position:relative;
		@include span-columns(4 omega);
		@include border-box-sizing;
		margin:10px 0;
		padding:0 10px;
		font-family: arial;
		text-align: center;
		a {
			display: inline-block;
			margin:0 auto;
			padding:0 5px;
			height:30px;
			line-height: 30px;
			background:$pink-text;
			color:#ffffff;
		}
	}

	a.shopCart_btn {
		position:fixed;
		bottom:50px;
		right:10px;
		background:rgba(255,204,204,.7);
		padding:10px;
		color:$pink-text;
		text-align: center;
	}

	.priceZone {
		z-index:99;
		position:fixed;
		bottom:0;
		left:0;
		display: block;
		@include span-columns(4 omega);
		height:40px;
		background:rgba(255,204,204,.7);
		text-align: right;
		
		& > .shareIcons {
			position: absolute;
			left:5px;
			top:5px;
			display: inline-block;
			height:30px;
		}
		
		& > .shareIcons ul { @include pie-clearfix; }

		& > .shareIcons ul li {
			float:left;
			margin-left:5px;
			font-size:0.75rem;
			&:first-child { 
				margin-left:0;
				font-size:1.8rem;
				font-weight: bolder;
			}
		}

		& > .shareIcons ul li a {
			display: block;
			width:30px;
			height:30px;
			border-radius:1000em;
			background:$pink-text;
			color:#ffffff;
			text-align: center;
			line-height:30px;
			font-family:arial;

		}

		& > span { 
			display:inline-block; 
			font-size:1.1rem;
			line-height: 40px;
			margin-right:10px;
			font-family: arial;
			
			&.org { text-decoration:line-through; }
			&.special { color:$pink-text; }
		}
	}

	.prod_specNavs {
		bottom:0;
		left:0;
		position: fixed;
		@include span-columns(4 omega);

		ul li {
			display: block;
			width:100%;
			height:45px;
			line-height: 45px;
			background:rgba(255,204,204,1);
			border-top:2px solid #ffffff;
			text-align: center;
			letter-spacing: 3px;
			&:first-child { border-top:0px; }
			a {
				color:$pink-text;
			}
		}
	}

	//animate
	.prod_specNavs, .priceZone, .shopCart_btn, .prodShow {
		-webkit-transition:all 1s ease-in-out;
		-moz-transition:all 1s ease-in-out;
		-o-transition:all 1s ease-in-out;
		transition:all 1s ease-in-out;
	}

	.priceZone, .shopCart_btn {
		opacity: 1;
		&.hidein {
			opacity: 0;
		}
	}

	.prodShow {
		opacity: 1;
		&.hidein {
			opacity: 0.5;
		}
	}

	.prod_specNavs {
		-webkit-transform: translate3d(0,300px,0);
		-moz-transform: translate3d(0,300px,0);
		-ms-transform: translate3d(0,300px,0);
		-o-transform: translate3d(0,300px,0);
		transform: translate3d(0,300px,0);
	
		&.active {
			-webkit-transform: translate3d(0,0,0);
			-moz-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			-o-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);			
		}
	}
}