@include at-breakpoint($mobile) {
	$gutter-width     : 5px; //欄間距
	.shopCart {
		position:relative;
		@include container;
		@include border-box-sizing;
		height:100%;
		overflow:hidden;
		padding:0 10px;
		padding-top:20px;

		input, select {
			@include border-radius(0);
			box-shadow: none;
		}
	}

	.shopCart > ul > li {
		@include pie-clearfix;
		margin-top:50px;
		&:first-child { margin-top:0; }
	}
	
	//shopCart Title
	.shopCart_title {
		@include span-columns(4 omega);
		@include border-box-sizing;
		text-align: center;
		font-family: arial;
		margin-bottom:10px;
		
		&:after {
			content: "";
			position: absolute;
			display: block;
			width:6px;
			height:300px;
			background-color:$pink-lite;
			left:50%;
			margin-left: -3px;
			z-index:-1;
		}

		&.member_vip, &.finish_title, &.paymentGate{ 
			&:after{ display: none; } 
		}

		& > i {
			@include border-box-sizing;
			margin:5px auto;
			display: block;
			width:60px;
			height:60px;
			line-height: 60px;
			border-radius:50%;
			background-color:$pink-lite;
			color:#ffffff;
			text-align: center;
			font-size:2rem;
			overflow: hidden;
		}

		& > span {
			color:$pink-text;
			font-size:0.92rem;
			line-height:20px;
			font-weight: bolder;
		}

		&.user > i {
			line-height: 75px;
			font-size:3.5rem;
		}

		&.finish_title {
			padding-top:100px;
			& > i{
				width:100px;
				height:100px;
				line-height:100px;

				background-image: url(./../images/icon_finish.png);
				background-position: center;
				background-repeat: no-repeat;
				background-size: 140px;
				background-color:#ffffff;
				
			}

			& > span {
				font-size:1.7rem;
			}	
		}
	}

	.shopCart_content {
		@include span-columns(4 omega);
		@include border-box-sizing;
		height:auto;
	}

	.shopCart_content > label, .shopCart_content .group > label {
		@include span-columns(1);
		@include border-box-sizing;
		height:35px;
		line-height:35px;
		overflow: hidden;
		background:$pink-lite;		
		color:#ffffff;
		text-align: center;
	}

	.shopCart_content > input[type='text'] {
		@include span-columns(3 omega);
		@include border-box-sizing;
		height:35px;
		line-height:35px;
		background:#ffffff;
		border:3px solid $pink-lite;
		font-size:1rem;	
	}

	.shopCart_content .group {
		& > .selectGroup{
			@include span-columns(3 omega);
			@include border-box-sizing;		
		
			& > select {
				@include isolate-grid(2);
				@include border-box-sizing;
				margin-top:5px;
				height:35px;
				line-height:35px;
				background:#ffffff;
				border:3px solid $pink-lite;
			}
		}

		& > input[type='text']{
			@include span-columns(4 omega);
			@include border-box-sizing;
			margin:5px 0 5px 5px;
			height:35px;
			line-height:35px;
			background:#ffffff;
			border:3px solid $pink-lite;
			font-size: 1rem;				
		}
	}

	.shopCart_content label, .shopCart_content > input[type='text'] {
		margin:5px 0;
	}

	.shopCart_content.orderInfo {
		margin:5px 0;
		border:3px solid $pink-lite;
		padding:5px;
		background: #ffffff;

		& > ul li {
			position:relative;
			@include isolate-grid(1);
			@include border-box-sizing;
			height:65px;
			line-height: 65px;
			font-family: arial;
			text-align: center;
			color:$pink-text;
			&:before {
				position: absolute;
				top:0;
				left:-1px;
				content:"x";
				height:65px;
				line-height: 65px;
				font-size:1rem;
			}
			&:first-child:before { display:none;}
			&:last-child {
				font-weight: lighter;
				font-size:2.5rem;
			}
			.specWrap {
				position:absolute;
				top:5px;
				right:0;
				@include border-box-sizing;
				width:55px;
				height:55px;
				line-height: 55px;
				text-align: center;
				border-radius:50%;
				background:$pink-text;
				font-size:0.92rem;
				font-weight: bold;
				overflow: hidden;
				color:#ffffff;

				&.size { font-size:1.3rem; }
			}
		}
	}

	.shopCart_content.priceDetail {
		margin:20px 0;
		padding:10px 0;
		font-family: arial;
		background: #ffffff;	
		.totalPrice {
			@include span-columns(4 omega);
			@include border-box-sizing;
			height:auto;	
			text-align: center;
			font-size:1.5rem;
			color:$pink-text;
		}

		.orginCoupon { 
			margin:5px 0;
			@include span-columns(4 omega);
			@include border-box-sizing;
			color:$black-g;
			height:20px;
			line-height: 20px;
			font-weight: lighter;
			text-align: center;
			font-size:0.92rem;
		}

		.orginCoupon span:first-child+span { color:$pink-text; }
	}

	.discountNavs, .paymentWay {
		margin-top:10px;
	}
	.discountNavs, .paymentWay {

		ul {
			@include pie-clearfix;
		}
	}
	.discountNavs, .paymentWay {

		ul > li {
			position:relative;
			float:left;
			display: block;
			height:auto;
			@include isolate-grid(1,3);
			@include border-box-sizing;
		}
	}

	.discountNavs, .paymentWay {
		ul > li > a {
			position:relative;
			display: inline-block;
			padding:5px;
			margin:0 21%;
			text-align: center;
			color:#ffffff;
			background:$pink-text;
			font-size:0.92rem;
		}
	}

	.discountNavs {
		ul > li.current > a:before {
		position:absolute;
		top:25px;
		left:50%;
		margin-left:-8px;
		content:"";
		display: block;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 0 10px 10px 10px;
		border-color: transparent transparent $pink-text transparent;
		}
		
		.couponNums {
			position:absolute;
			right:-10px;
			top:-10px;
			display: block;
			width:20px;
			height:20px;
			background:$pink-lite;
			border-radius:50%;
			text-align: center;
			line-height: 20px;
			font-size:0.75rem;
			font-weight: bold;
			font-family: arial;
			&.couponShow {
				display: none;
			}
		}
	}

	.discountNavs ul > li {
		&:first-child > a { margin:0 0 0 40%; }
		&:last-child > a { margin:0 40% 0 0;}
	}
	
	.paymentWay {
		margin-bottom:20px;
	}
	.paymentWay ul > li > a { margin:0 13%;}
	.paymentWay ul > li {
		&:first-child > a { margin:0 0 0 55%; }
		&:last-child > a { margin:0 40% 0 0;}		
	}


	.discount_tips {
		position:relative;
		@include span-columns(4 omega);
		@include border-box-sizing;
		text-align: center;
		line-height: 80px;
		font-size:2rem;
		letter-spacing: 1px;		
		color:$pink-text;
	}

	.discountPop {
		position:relative;
		@include span-columns(4 omega);
		@include border-box-sizing;
		margin-top:10px;
		padding:5px;
		border:3px solid $pink-text;
		height:200px;
		
		& > a.disClose {
			z-index:1;
			top:0;
			right:0;
			display: block;
			position: absolute;
			width:30px;
			height:30px;
			line-height: 30px;
			text-align: center;
			background:$pink-text;
			color:#ffffff;
			
			& > i {
				-webkit-transform: rotate(45deg);
						transform: rotate(45deg);
			}
		}

		.disContent {
			z-index: 0;
			left:0;
			top:0;
			position:absolute;
			width:100%;
			height:194px;
			overflow-x:hidden;
			overflow-y: scroll;
		}

	}


	.disContent > fieldset {
		margin-top:50px;
		display: block;
		width:100%;
		height:auto;
		color:$pink-text;
		font-family: arial;
		font-weight: bolder;
		text-align: center;
		label {
			font-size:1.6rem;
		}

		input[type='text'] {
			border:0;
			font-size:2rem;
			width:40%;
			color:$pink-text;
			border-bottom:1px solid $pink-text;
			border-radius:0;

		}
	}

	.disContent > .useTime, .disContent > .useBonus {
		width:100%;
		margin-top:10px;
		text-align: center;
	}



	.disLists > li {
		position:relative;
		@include pie-clearfix;
		font-family: arial;
		h1 {
			float:left;
			display: inline-block;
			color:$pink-text;
			font-size: 1.53rem;
			font-weight: bold;
			width:80px;
			height:50px;
			line-height: 50px;
			letter-spacing: -2px;
			text-align: right;
		}

		& > div {
			margin-left: 5px;
			float:left;
			height:50px;
			font-size:0.92rem;
			letter-spacing: -1px;
			p:first-child { 
				font-size:1rem; 
				color:$pink-text;
				letter-spacing: normal;
				line-height: 25px;
			}
		}
	}

	.paymentCid label > i {
		font-size: 1.5rem;
		line-height:35px;
	}

	.shopBtn_area {
		position:relative;
		@include span-columns(4 omega);
		@include border-box-sizing;
		text-align: center;
		height:150px;

		&.prodSpec_btn {
			margin-top:70px;
		}

		a.steps_Button {
			position:absolute;
			top:10px;
		}
	}


	.shopFinal > .notice {
		position: absolute;
		bottom:20px;
		display: block;
		width:100%;
		margin:0 auto;
		left:0;
		font-size:1rem;
		text-align: center;
		&:after {
			content: "";
			position: absolute;
			z-index: 1;
			display: block;
			width:32px;
			height:32px;
			background: #ececec;
			bottom:-20px;
			right:5px;
			background: url(./../images/point.png) center no-repeat;
			background-size:64px;
		}
	}
}