@include at-breakpoint($mobile) {
	$gutter-width     : 5px; //欄間距
	.shopCart {
		position:relative;
		@include container;
		@include border-box-sizing;
		height:100%;
		overflow:hidden;
		padding:0 10px;
		padding-top:20px;
	}
	
	//shopCart Title
	.shopCart_title {
		@include span-columns(4 omega);
		@include border-box-sizing;
		text-align: center;
		font-family: arial;
		& > i {
			@include border-box-sizing;
			margin:5px auto;
			display: block;
			width:60px;
			height:60px;
			line-height: 60px;
			border-radius:50%;
			background:$pink-lite;
			color:#ffffff;
			text-align: center;
			font-size:2rem;
			overflow: hidden;
		}

		& > span {
			color:$pink-text;
			font-size:0.92rem;
			line-height:20px;
			font-weight: bolder;
		}

		&.user > i {
			line-height: 75px;
			font-size:3.5rem;
		}
	}

	.shopCart_content {
		@include span-columns(4 omega);
		@include border-box-sizing;
		height:auto;
	}

	.shopCart_content > label, .shopCart_content .group > label {
		@include span-columns(1);
		@include border-box-sizing;
		height:35px;
		line-height:35px;
		overflow: hidden;
		background:$pink-lite;		
		color:#ffffff;
		text-align: center;
	}

	.shopCart_content input[type='text'] {
		@include span-columns(3 omega);
		@include border-box-sizing;
		height:35px;
		line-height:35px;
		background:#ffffff;
		border:3px solid $pink-lite;	
	}

	.shopCart_content .group {
		& > .selectGroup{
			@include span-columns(3 omega);
			@include border-box-sizing;		
		
			& > select {
				@include isolate-grid(2);
				@include border-box-sizing;
				margin-top:5px;
				height:35px;
				line-height:35px;
				background:#ffffff;
				border:3px solid $pink-lite;
			}
		}

		& > input[type='text']{
			@include span-columns(4 omega);
			@include border-box-sizing;
			margin:5px 0 5px 5px;
			height:35px;
			line-height:35px;
			background:#ffffff;
			border:3px solid $pink-lite;				
		}
	}

	.shopCart_content label, .shopCart_content > input[type='text'] {
		margin:5px 0;
	}

	.shopCart_content.orderInfo {
		margin:5px 0;
		border:3px solid $pink-lite;
		padding:5px;

		& > ul li {
			position:relative;
			@include isolate-grid(1);
			@include border-box-sizing;
			height:65px;
			line-height: 65px;
			font-family: arial;
			text-align: center;
			color:$pink-text;
			&:before {
				position: absolute;
				top:0;
				left:-1px;
				content:"x";
				height:65px;
				line-height: 65px;
				font-size:1rem;
			}
			&:first-child:before { display:none;}
			&:last-child {
				font-weight: lighter;
				font-size:2.5rem;
			}
			.specWrap {
				position:absolute;
				top:5px;
				right:0;
				@include border-box-sizing;
				width:55px;
				height:55px;
				line-height: 52px;
				text-align: center;
				border-radius:50%;
				border:3px solid $pink-text;
				font-size:0.92rem;
				font-weight: bold;
				overflow: hidden;

				&.size {
					font-size:1.3rem;
				}
			}
		}
	}

	.shopCart_content.priceDetail {
		margin:20px 0;
		font-family: arial;	
		.totalPrice {
			@include span-columns(4 omega);
			@include border-box-sizing;
			height:auto;	
			text-align: center;
			font-size:1.5rem;
			color:$pink-text;
		}

		.orginCoupon { 
			margin:5px 0;
			@include span-columns(4 omega);
			@include border-box-sizing;
			color:$black-g;
			height:20px;
			line-height: 20px;
			font-weight: lighter;
			text-align: center;
			font-size:0.92rem;
		}

		.orginCoupon span:first-child+span { color:$pink-text; }
	}

	.vipZone {
		@include span-columns(4 omega);
		@include border-box-sizing;
		text-align: center;

		.vipZone_icon {
			margin:0 auto;
			position:relative;
			display: block;
			width:60px;
			height:60px;
			line-height: 65px;
			text-align: center;
			background:$pink-text;
			border-radius:1000em;
			color:#ffffff;
			margin-bottom: 30px;

			span {
				position:absolute;
				left:-10px;
				bottom:-45px;
				display: block;
				width:80px;
				color:$pink-text;
				letter-spacing: 2px;
				font-weight:bold;
			}
		}

		ul {
			margin-top:5px;
			margin-bottom:10px;
			display: inline-block;
			opacity: 0;
			@include pie-clearfix;

			//effects
			-webkit-transition:all 1s ease-in-out;
			-moz-transition:all 1s ease-in-out;
			-o-transition:all 1s ease-in-out;
			transition:all 1s ease-in-out;

			&.hideEffect {
				opacity: 1;
			}
		}		

		ul > li {
			float:left;
			margin-left: 20px;
			a {
				display: block;
				padding:0 5px;
				line-height:35px;
				color:$pink-text;
				border:3px solid $gray-lite;
				background:#ffffff;
				font-weight: bold;
			}

			&:first-child { margin-left:0; }
		}
	}

	.shopCart > .prodShow{
		opacity: 0.5;
	}


	.shopBtn_area {
		position:relative;
		@include span-columns(4 omega);
		@include border-box-sizing;
		text-align: center;
		height:100px;
		margin-top:-64px;
		bottom:100px;
		
		a.steps_Button {
		  position:absolute;
		  top:50%;
		  margin-top:-50px;
		}
	}

}